.modals{
    display: none;
    position: fixed;
    padding-top: 150px;
    z-index: 1;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4) ;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.modal-container{
    background-color: #fefefe;
    margin: auto;
    padding: 30px ;
    border: 1px solid saddlebrown;
    width: 80%;
    border-radius: 50px;

}

.close{
    color: black;
    float: right;
    font-size: 50px;
    font-weight: 900;
}

.close:hover ,
.close:focus {
    color: rgb(248, 0, 0);
    
}